body
{
  font-family: 'Helvetica';
  background-image: radial-gradient(circle, #94e957, #468008 );
  display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    overflow: auto;
    background-image: url('/icons+img/bg-menu.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

  .settings{
    background: radial-gradient(circle, #94e957, #dcf5c3);
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(112, 103, 105, 0.5);
    padding: 30px;
    height:80%;
    max-width: 700px;
    display: grid;
    grid-template-columns: 100%;
    gap: 5px;
   
  }

  .link{
    background: #94e957;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(112, 103, 105, 0.5);
    padding: 5px;
    grid-row: auto;
  }